<a  name="contact"></a>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2>Like my work? Let's connect:</h2>
            </div>
            <div class="col-lg-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="/resume/" class="btn btn-default btn-lg"><i class="fa fa-file-pdf-o fa-fw"></i> <span class="network-name">View My Resume</span></a>
                    </li>
                    <li>
                        <!-- NEWLY ADDED LINK -->
                        <a href="/analytics/" class="btn btn-default btn-lg"><i class="fa fa-rocket fa-fw"></i> <span class="network-name">Zinaka Analytics</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/tongai-zinaka" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-github fa-fw"></i> <span class="network-name">GitHub</span></a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/in/tongai-zinaka" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                    </li>
                    <li style="margin-top: 10px;">
                        <a href="mailto:tongaizinaka@gmail.com" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
                    </li>
                    <li style="margin-top: 10px;">
                        <a href="tel:+263772207711" class="btn btn-default btn-lg"><i class="fa fa-phone fa-fw"></i> <span class="network-name">Phone</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
