<!-- This anchor is for the 'Contact' link in the navigation bar -->
<a name="contact"></a>

<!-- SECTION 1: DIRECT CONTACT LINKS -->
<div class="content-section-b" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Contact Me Directly</h2>
                <p class="lead">I'm always open to connecting. Feel free to reach out through any of the platforms below.</p>
                <ul class="list-inline" style="margin-top: 20px;">
                    <li>
                        <a href="https://linkedin.com/in/tongai-zinaka" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                    </li>
                    <li>
                        <a href="https-github.com/tongai-zinaka" class="btn btn-default btn-lg" target="_blank"><i class="fa fa-github fa-fw"></i> <span class="network-name">GitHub</span></a>
                    </li>
                    <li>
                        <a href="mailto:tongaizinaka@gmail.com" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
                    </li>
                    <li>
                        <a href="tel:+263772207711" class="btn btn-default btn-lg"><i class="fa fa-phone fa-fw"></i> <span class="network-name">Phone</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- SECTION 2: CONTACT FORM -->
<div class="content-section-a" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading text-center">Send Me a Message</h2>
                <p class="lead text-center">Have a question or a project in mind? Fill out the form and I'll get back to you as soon as possible.</p>

                <!-- The Formspree Form -->
                <form action="https://formspree.io/f/xwpwqkby" method="POST">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="name">Name</label>
                                <input type="text" name="name" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" name="_replyto" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea name="message" class="form-control" rows="5" required></textarea>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
