<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">

    <title>{{ site.title }} | Data Analyst Portfolio</title>

    <!-- FAVICON (Now pointing to the .ico file in the root) -->
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- SOCIAL MEDIA PREVIEW (Now pointing to the new -v2 image) -->
    <meta property="og:title" content="Tongai Zinaka | Data Analyst Portfolio" />
    <meta property="og:description" content="A portfolio showcasing projects in data analysis, business intelligence, and data modeling." />
    <meta property="og:image" content="https://tongai-zinaka.github.io/img/social-preview-v2.png" />
    <meta property="og:url" content="https://tongai-zinaka.github.io/" />
    <meta name="twitter:card" content="summary_large_image" />


    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Animate On Scroll Library CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!-- BaguetteBox.js Lightbox CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.css">    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
