<!-- jQuery Version 1.11.0 -->
<script src="{{ site.url }}{{ site.baseurl }}/js/jquery-1.11.0.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.easing.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.url }}{{ site.baseurl }}/js/landing-page.js"></script>

<script>
// Back to Top Button Logic
$(document).ready(function(){
     $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
});
</script>
